.calculadora, td{
    
    border-collapse: collapse;
}
.calculadora{
    width: 400px;
    height: 400px;
}
td{
    width: 100px;
    height: 60px;
}
.btn{
    width: 100px;
    height: 60px;
}
.resultado{
    width: 395px;
    height: 40px;
    font-size: 20px;
}
.calculadora{
    border: 1px solid black;
    background-color: cornflowerblue;
}
h1{
    text-align: center;
}
.negrita{
   font-weight: bold;
}
button:hover{
    background-color: darkcyan;
}

